body {
  background-image: url("https://images.pexels.com/photos/1053769/pexels-photo-1053769.jpeg?cs=srgb&dl=beef-blur-bread-1053769.jpg&fm=jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#Heading,
#Form,
#Disclaimer {
  display: content;
  max-width: 400px;
  background-color: lightblue;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px lightblue;
  background-border: 1;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

