body {
  background-image: url("images/background.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#Heading,
#Form,
#Disclaimer {
  display: content;
  max-width: 400px;
  background-color: lightblue;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px lightblue;
  background-border: 1;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#divElement{
	position: absolute;
    top: 75%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}